<div id="sideBarDiv" style="padding-left: 0px; display: block;" class="col-md-2">
    <div class=" col-md-2 nav nav-pills nav-stacked" id="sidebar">
        <div class=" row" style="font-weight: bold;">
            <h3>My Dinner</h3>
        </div>
        <div class=" row" id="ppl" style="height: 30px;">
            <p style="float: left; padding-top: 5px; padding-right: 5px;">People</p>
            <input id="textbox" type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)"/>
        </div>
        <div class=" row" id="dishName">
            <p style="float: left;">Dish Name</p>
            <p style="float: right;">Cost</p>
        </div>
        <div class="row" id="dishRow1"></div>
        <div class="row" id="dishRow2"></div>
        <div class="row" id="dishRow3"></div>
        <div class=" row" id="products">
            <p style="float: left;">Pending</p>
            <p id="pendingSum" style="float: right;">0</p>
        </div>
        <div id="totalSum">
            <p style="float: right;">SEK 0</p>
        </div>
        <div id="confirmButton"><a ng-href="#!/dinner-overview" class=" btn-default" type="button">Confirm Dinner</a></div>
    </div>
</div>
