<ng-include src="'partials/dinner-header.html'"></ng-include>


<div id="mainStart">
    <div class="container" id="welcomeBox">
        <h1>A Home Dinner Service</h1>
        <hr>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        <br>
        <p>start quickly</p>
        <a ng-href="#!/search" type="button" class="btn-default">Create new dinner</a>
    </div>
</div>